{% extends "base.html" %}
{% macro status(s) %}
{% set label = {
"ok": "success",
"inactive": "inverse",
"install" : "warning",
}.get(s, 'inverse')
%}
    <span class="badge badge-{{label}}">{{s}}</span>
{% endmacro %}
{% block content %}
<div class="page-header">
    <h2>Project list</h2>
</div>

<table class="table">
<thead>
    <th>N</th>
    <th>Status</th>
    <th>Name</th>
</thead>
{% for project in project_list %}
<tr>
    <td>{{loop.index}}</td>
    <td>{{status(project.status)}}</td>
    <td><a href="{{project.name}}" >{{project.name}}</a></td>
</tr>
{% endfor %}
</table>

<a href="add" class="btn">Add</a>
{% endblock %}
